<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.sensores.practica" version="1.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Sensores Practica</name>
    <description>
        Modulo 4 Sensores MiriadaX Curso Apps.
    </description>
    <author email="mi@mail.com" href="http://phonegap.com">
        Francisco Jose Castro Colodrero
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
